<a href="https://colab.research.google.com/github/Mohak91/Course-on-comparative-genomics-of-bacteria/blob/main/Lab_practical_session_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
%cd /content/drive/MyDrive/comp_gen_bacteria_krea

/content/drive/MyDrive/comp_gen_bacteria_krea

In [3]:
%ls

dummy_ecoli_sequence.fa              lab_session_1_linux_basics/
Lab_practical_linux_session_1.ipynb  Linux_practice_session.ipynb

In the last session we split the dna string into codons and stored them in a list.

In [4]:
dna = "ATGCGATTG"

In [5]:
dna_length = len(dna)

In [6]:
dna_list=[]
for index in range(0, dna_length, 3):
  dna_list.append(dna[index:index+3])

In [7]:
dna_list

['ATG', 'CGA', 'TTG']

Let's make a new string that can not be evenly divided into three codons as above, with an extra "A" nucleotide in the 3' end.

In [8]:
dna_2 = "ATGCGATTGA"
dna2_length = len(dna_2)

In [9]:
dna2_length

10

In [10]:
dna2_length/3

3.3333333333333335

In [11]:
dna2_length%3

1

A single equal to sign is used as an assignment operator.

In [12]:
x=0 #assignment
x

0

A double equal to sign is used as a relational operator, that returns a boolean answer of either True or False.
Other relational operators are as follows:
a. >
b. <
c. >=
d. <=
e. != (this is read as not equal to)

In [14]:
dna2_length == 9 #try playing around with different operational operators instead of ==

False

#Introducing if else conditions to have better control on what we want the program to do.

For example, we want to only append to the list if the string can be uniformly broken into codons, otherwise print a message and not proceed with appending to the list.

Let's run it on the variable "dna2". It should print a message.

In [15]:
dna2_list=[]
if dna2_length%3 == 0:
  for index in range(0, dna2_length, 3):
    dna2_list.append(dna[index:index+3])
else:
  print("Warning! This seems like an odd sequence.")

Warning! This seems like an odd sequence.

Let's run it on the variable "dna" that we created above. It should break it into a list and not print the message.

In [16]:
dna_list=[]
if dna_length%3 == 0:
  for index in range(0, dna_length, 3):
    dna_list.append(dna[index:index+3])
else:
  print("Warning! This seems like an odd sequence.")

In [17]:
dna_list

['ATG', 'CGA', 'TTG']

#So far we have covered two main data structures - string and list.
#Let's introduce another data structure called dictionary.

#Problem: Find the reverse complement of a given DNA sequence.

Dictionaries: key value pair

In [18]:
complement_dictionary = {"A":"T","T":"A","G":"C","C":"G"} #look up table or dictionary
complement_dictionary

{'A': 'T', 'T': 'A', 'G': 'C', 'C': 'G'}

In [19]:
#fetching the value of the key "A" from the dictionary that we created above.
complement_dictionary["A"]

'T'

In [20]:
complement_dictionary.keys()

dict_keys(['A', 'T', 'G', 'C'])

In [21]:
complement_dictionary.values()

dict_values(['T', 'A', 'C', 'G'])

In [22]:
dna = "ATGCGATTG"

In [23]:
#recall how a for loop works
for nucleotide in dna:
  print(nucleotide)

A
T
G
C
G
A
T
T
G

Let's first find the complement of the dna variable we created above using for loop and dictionary.

In [24]:
complement_dna = ""
for nucleotide in dna:
  complement_dna = complement_dna + complement_dictionary[nucleotide]

The above code works like this:

iteration 1: complement_dna = "", nucleotide = A, comp_dict[nucleotide] = T
complement_dna = T

iteration 2: T, T, A, T + A = TA

iteration 3: TA, G, C, TA + C = TAC

iteration 4: TAC...

In [25]:
complement_dna

'TACGCTAAC'

Once we have the complement, let's reverse the string using something that we had discussed previously.

In [26]:
reverse_complement_dna = complement_dna[::-1]

Tadaaa!!

In [27]:
reverse_complement_dna

'CAATCGCAT'

What if we want to split the reverse complement into a list of codons? We will have to copy paste the code from above, again.

In [28]:
rdna_length = len(reverse_complement_dna)

In [29]:
rdna_list=[]
if rdna_length%3 == 0:
  for index in range(0, rdna_length, 3):
    rdna_list.append(reverse_complement_dna[index:index+3])
else:
  print("Warning! This seems like an odd sequence.")

In [30]:
rdna_list

['CAA', 'TCG', 'CAT']

#strings are immutable, lists are not. Or in other words, one can change lists in place (without create more variables).

#Imagine if we want to split 1000000 string variables into their respective list of codons. We will have to write ( or copy/paste) the entire chunk of code again and again. Instead we can package it into a function. This makes it reusable and transferable again and again.

In [41]:
#define functions in python
#function definition always start with the keyword def.

def string_to_list(sequence_string):
  rdna_list=[] #local variable
  if rdna_length%3 == 0:
    for index in range(0, rdna_length, 3):
      rdna_list.append(sequence_string[index:index+3])
  else:
    print("Warning! This seems like an odd sequence.")
  return rdna_list

In [42]:
dna3 = "ATTGACTAC"
dna4 = "TTACCCGGG"

In [43]:
#function call with dna3 string variable that we defined above.
string_to_list(dna3)

['ATT', 'GAC', 'TAC']

In [44]:
#another function call but this time with another argument string called dna4 that we defined above.
string_to_list(dna4)

['TTA', 'CCC', 'GGG']