<a href="https://colab.research.google.com/github/Mohak91/Course-on-comparative-genomics-of-bacteria/blob/main/Lab_practical_session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

Question 1: Write a python program that takes a DNA sequence as a string and extracts all codons and stores them into a list. Finally it prints the length of the DNA sequence, the DNA sequence itself and the list of codons on the screen.

Let's hard code the solution first

In [2]:
#let's assign some DNA sequence of choice to a variable that we name as "dna"
dna = "ATGCGATTG"
#let's see the value of the variable dna. Is it the same?
dna

'ATGCGATTG'

In [3]:
#let's extract all the three codons using slicing. Remember, the start_index of a slice is always included and the end_index will not be included, but the slice will always be of the length (stop_index - start_index)

#let's assign the codons to different variable names - first_codon, second_codon, third_codon
first_codon = dna[0:3] #length 3 -0 = 3
second_codon = dna[3:6] #length 6-3 = 3
third_codon = dna[6:9] #length 9-3 = 3

print(first_codon,second_codon,third_codon)

ATG CGA TTG

In [4]:
#let's append these variables that we created into a list

#first let's define an empty list that we want to fill in. Let's name it "codon_list". You can name it anything else.
codon_list=[]

In [5]:
#Let's append all codon values into the list we created
codon_list.append(first_codon)
codon_list.append(second_codon)
codon_list.append(third_codon)

In [6]:
codon_list

['ATG', 'CGA', 'TTG']

Wouldn't it be tiresome to do the above if the dna string was 10000000000 bp long instead of length 9 as above?

Can you note that you are executing same code three times or three iterations? It makes it redundant, isn't it?

Work-around for the above problem is to use "for loop" to iterate through the same code multiple times ( in our case three times)

In [7]:
#Range() is a handy method that we can use here. Let's first see how range functions.

for number in range(0,10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [8]:
for number in range(0,10,1):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [9]:
#We can use the above function to just extract the indices of the start of all the three codons in our dna string
# i.e 0, 3 and 6

#In our case the range would be defined between 0 and the length of our dna string i.e 9
for index in range(0,9,3):
  print(index)

0
3
6

In [10]:
#we can replace 9 with the variable dna_length
#this reduces hard coding
dna_length =len(dna)
for index in range(0,dna_length,3):
  print(index)

0
3
6

In [12]:
#let's use these extracted indices to slice our string into codons using a for loop.
#It automates the same thing that we executed manually in cell 3 above.

for index in range(0, dna_length, 3):
  print(dna[index:index+3])

ATG
CGA
TTG

In [13]:
#Let's append them in a list

#let's redefine an empty list
dna_list=[]
for index in range(0, dna_length, 3):
  #print(dna[index:index+3]) # uncomment and execute again to print as well
  dna_list.append(dna[index:index+3])

In [15]:
#voila!!!
dna_list

['ATG', 'CGA', 'TTG']

In [16]:
count = 0
for codon in dna_list:
  count=count+1
  print(count,codon)

1 ATG
2 CGA
3 TTG

In [17]:
count=0
for codon in ['ATG', 'CGA', 'TTG']:
  count=count+1
  print(count,codon)

1 ATG
2 CGA
3 TTG

In [18]:
count=0
for codon in ['ATG', 'CGA', 'TTG']:
  count=count+1
print(count,codon)

3 TTG

What is the difference in cell 17 and cell 18 results?